<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="ThirdParty.SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="Voxel.Deployer.ServiceDiscovery.Client" version="1.9.0" targetFramework="net452" />
  <package id="Voxel.Standards.Compression" version="2.1.0.6" targetFramework="net452" />
  <package id="Voxel.Standards.Normalization" version="2.1.0.6" targetFramework="net452" />
  <package id="Voxel.Transactions" version="1.2.19352.20236" targetFramework="net452" />
  <package id="Voxel.Transactions.Constraints.Service.Client" version="2.0.20022.26654" targetFramework="net452" />
  <package id="Voxel.Transactions.Constraints.Service.Contract" version="2.0.20022.26654" targetFramework="net452" />
  <package id="Voxel.Users" version="1.3.0.7" targetFramework="net452" />
</packages>